aiohttp==3.8.3
aiosignal==1.3.1
aiosqlite==0.18.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
black==22.8.0
certifi==2022.12.7
charset-normalizer==2.1.1
comm==0.1.2
dacite==1.8.0
debugpy==1.6.6
decorator==5.1.1
-e git+https://github.com/eric88525/discord-ext-forms.git@f26646dab7d5c9e3ef6c7c3d104c5e0cfe94fe8f#egg=discord_ext_forms
discord.py==2.1.0
emoji==1.6.3
executing==1.2.0
frozenlist==1.3.3
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.21.1
ipython==8.9.0
jedi==0.18.2
jupyter_client==8.0.2
jupyter_core==5.2.0
matplotlib-inline==0.1.6
multidict==6.0.4
mypy-extensions==0.4.3
nest-asyncio==1.5.6
packaging==23.0
parso==0.8.3
pathspec==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.0.0
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.14.0
python-dateutil==2.8.2
pyzmq==25.0.0
requests==2.28.2
six==1.16.0
stack-data==0.6.2
tomli==2.0.1
tornado==6.2
traitlets==5.9.0
urllib3==1.26.14
wcwidth==0.2.6
yarl==1.8.2
zipp==3.12.1
